
/* ================================= 
  Flexbox
==================================== */

.container {
	display: flex;
	min-height: 50vh;

	justify-content: center; /* main axis centering */
	align-items: center; /* cross axis centering */
}