
/* ================================= 
  Flexbox
==================================== */

.container {
	display: flex;
	min-height: 50vh;

	justify-content: center; /* main axis centering */
}

.item {
	align-self: center; /* single item cross axis centering */
}