
/* ================================= 
  Flexbox
==================================== */

.container {
	display: flex;
	min-height: 50vh;
}

.item {
	margin: auto; /* equal space on each side top/bottom and left/right */
}